#TimelineHeading {
  text-align: center;
  height: 38px;
  margin: 60px 0;
}
#TimelineHeading span {
  white-space: nowrap;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  min-height: 500px;
  margin-right: 10px;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 95%;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 18);
}

#TimelineInput {
  width: 45px;
  height: 45px;
  background-color: #200c3f;
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  transition-duration: 1s;
  cursor: pointer;
}
#TimelineInput:focus {
  outline: none;
}
#TimelineInput::before, #TimelineInput::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #200c3f;
  width: 4.4444444444vw;
  height: 5px;
  max-width: 55.5555555556px;
  transition-duration: 1s;
}
#TimelineInput::before {
  left: calc(-4.4444444444vw + 12.5px);
}
#TimelineInput::after {
  right: calc(-4.4444444444vw + 12.5px);
}
#TimelineInput:checked {
  background-color: #919191;
  border-style: inset;
  border-color: #200c3f;
  border-width: 4px;
  transition-duration: 1s;
  box-shadow: 0 0 3px 0 #200c3f;
}
#TimelineInput:checked::before {
  background-color: #200c3f;
}
#TimelineInput:checked::after {
  background-color: #bebebe;
}
#TimelineInput:checked ~ #TimelineInput, #TimelineInput:checked ~ #TimelineInput::before, #TimelineInput:checked ~ #TimelineInput::after {
  background-color: #bebebe;
  transition-duration: 1s;
}
#TimelineInput:checked + .dot-info .label {
  transform: rotateZ(0);
  transition-duration: 1s;
  font-size: 35px;
  width: 300px;
  bottom: -170px;
  font-weight: bold;
  text-shadow: 0 5px 1px #200c3f;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 18) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 12px;
}
.dot-info span.year {
  font-size: 30px;
  top: -90px;
  transform: translateX(-50%);
  width: 250px;
  text-align: center;
  left: 50%;
}
.dot-info span.label {
  bottom: -75px;
  left: 0;
  transform: rotateZ(45deg);
  width: 70px;
  text-indent: -10px;
}

#skillBullet li {
  font-weight: bold;
  font-style: oblique;
  font-size: large;
}

#timeline-descriptions-wrapper {
  width: 95%;
  margin-top: 140px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 200px;
  margin-left: calc((-80vw - 25px) / 18);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
  font-size: 20px;
  padding-bottom: 10px;
}
#timeline-descriptions-wrapper div {
  margin-top: 0;
  display: none;
}

#date {
  color: #cecece;
  font-style: italic;
  font-size: 23px;
}

#TimelineInput[data-description=Montessori]:checked ~ #timeline-descriptions-wrapper p[data-description=Montessori] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=LFA]:checked ~ #timeline-descriptions-wrapper p[data-description=LFA] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=Purdue]:checked ~ #timeline-descriptions-wrapper p[data-description=Purdue] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=Banner]:checked ~ #timeline-descriptions-wrapper p[data-description=Banner] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=Morey]:checked ~ #timeline-descriptions-wrapper p[data-description=Morey] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=Scafuri]:checked ~ #timeline-descriptions-wrapper p[data-description=Scafuri] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=Gaming]:checked ~ #timeline-descriptions-wrapper p[data-description=Gaming] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=Sailing]:checked ~ #timeline-descriptions-wrapper p[data-description=Sailing] {
  display: block;
  font-size: 1.1vw;
}

#TimelineInput[data-description=DJ]:checked ~ #timeline-descriptions-wrapper p[data-description=DJ] {
  display: block;
  font-size: 1.1vw;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 68.0555555556px;
  }

  #TimelineInput::before {
    left: -43.0555555556px;
  }
  #TimelineInput::after {
    right: -43.0555555556px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 18) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -43.0555555556px;
  }
}
@media (max-width: 1000px) {
  #TimelineInput[data-description=Montessori]:checked ~ #timeline-descriptions-wrapper p[data-description=Montessori] {
    font-size: 19px;
  }

  #TimelineInput[data-description=LFA]:checked ~ #timeline-descriptions-wrapper p[data-description=LFA] {
    font-size: 19px;
  }

  #TimelineInput[data-description=Purdue]:checked ~ #timeline-descriptions-wrapper p[data-description=Purdue] {
    font-size: 19px;
  }

  #TimelineInput[data-description=Banner]:checked ~ #timeline-descriptions-wrapper p[data-description=Banner] {
    font-size: 19px;
  }

  #TimelineInput[data-description=Morey]:checked ~ #timeline-descriptions-wrapper p[data-description=Morey] {
    font-size: 19px;
  }

  #TimelineInput[data-description=Scafuri]:checked ~ #timeline-descriptions-wrapper p[data-description=Scafuri] {
    font-size: 19px;
  }

  #TimelineInput[data-description=Gaming]:checked ~ #timeline-descriptions-wrapper p[data-description=Gaming] {
    font-size: 19px;
  }

  #TimelineInput[data-description=Sailing]:checked ~ #timeline-descriptions-wrapper p[data-description=Sailing] {
    font-size: 19px;
  }

  #TimelineInput[data-description=DJ]:checked ~ #timeline-descriptions-wrapper p[data-description=DJ] {
    font-size: 19px;
  }

  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-left: 0;
    padding-bottom: 30px;
  }

  .year {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  #aboutSection {
    height: 1500px;
  }

  #TimelineInput, .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  #aboutPortrait {
    position: relative;
    max-width: 80%;
    left: 13%;
  }

  #timeline-descriptions-wrapper {
    margin-top: 50px;
  }

  #TimelineInput {
    background-color: transparent !important;
    z-index: 1;
  }
  #TimelineInput::before, #TimelineInput::after {
    content: none;
  }
  #TimelineInput:checked {
    border-width: 0px;
  }
  #TimelineInput:checked + .dot-info {
    background-color: #200c3f;
  }
  #TimelineInput:checked + .dot-info span.year {
    font-size: 14px;
  }
  #TimelineInput:checked + .dot-info span.label {
    transition-duration: 0s;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
    font-size: 13px;
    width: 70px;
    text-shadow: 0 2px 1px #200c3f;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #bebebe;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
}
@media (max-width: 991px) {
  #aboutSection {
    height: 2000px;
  }
}
@media (max-width: 550px) {
  .input-flex-container {
    width: 300px;
  }

  #aboutSection {
    height: 2300px;
  }

  p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=compiled.css.map */
