@font-face {
    font-family: Roboto;
    src: url('Fonts/Roboto-Regular.ttf');
}

body, html {
    height: 100%;
    margin: 0;
}

.jumbotron {
    background-image: url(Background.jpg);
    background-size: cover;
    height: 100%;
}

.container {
    display: table;
}

#navdiv {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
}

#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
  }
  
#mySidenav a:hover {
    left: 0;
    /* background-color: white;
    color: black; */
    box-shadow: 2px -2px 10px 0 black;
}
  
#about {
    height: 100%;
    bottom: 0;
    background-color: #222;
}
  
#skills {
    height: 75%;
    bottom: 0;
    background-color: #444;
}
  
#projects {
    bottom: 0;
    height: 50%;
    background-color: #666;
}
  
#contact {
    bottom: 0;
    height: 25%;
    background-color: #888
}

#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -60px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
  
/* Navbar styling */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

/* Action when hovering over navbar */
#navbar a:hover {
    background-color: #999;
    color: black;
}

/* Main Page Background */
.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/image.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#aboutSection {
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Roboto';
    background: url('images/grayscaleback.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 850px;
    -moz-box-shadow: 0 0 10px 0 #000000;
    -webkit-box-shadow: 0 0 10px 0 #000000;
    box-shadow: inset 0 0 40px 0 #000000;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

#skillSection {
    color: white;
    padding-top: 60px;
    font-family: 'Roboto';
    background: url('images/graywallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    box-shadow: inset 0 0 40px 0 black;
    width: 100%;
}

#projectSection {
    color: white;
    padding-top: 60px;
    font-family: 'Roboto';
    background-color: #666;
    min-height: 100%;
    box-shadow: inset 0 0 40px 0 black;
    width: 100%;
}

#headshot {
    padding: 30px;
    height: 100%;
}

#portrait_container { 
    float: left;
    padding-left: 20px;
}

#portrait {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0 0 20px 0 #000;
    border: 5px black;
    border-style: solid;
}

#aboutMe {
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    height: auto;
    width: 100%;
    float: right;
}

#row1 {
    width: 100%;
}

.flip-card {
    width: 108%;
    height: 100%;
    perspective: 1000px;
    margin-top: 20px;
}

.flip-card-inner {
    position: relative;
    width: 350px;
    height: 80%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-inner.flipped .flip-card-front{
    box-shadow: 0 0 0 0;
    opacity: 0;
    transition-delay: 0.3s;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    width: 350px;
    height: 100%;
    max-height: 350px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 8px #000000;
    -moz-box-shadow: 0 0 10px 8px #000000;
    -webkit-box-shadow: 0 0 10px 8px #000000;
    border-radius: 50%;
}

.flip-card-back {
    width: 350px;
    height: 100%;
    color: white;
    transform: rotateY(180deg);
    border-radius: 50%;
    padding-top: 20px;
}

.tile {
    border-radius: 50%;
}

.text-block {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto;
    text-align: right;
    -moz-box-shadow: 2px -2px 10px 0 #000000;
    -webkit-box-shadow: 2px -2px 10px 0 #000000;
    box-shadow: 2px -2px 10px 0 #000000;
}

#skillBars {
    margin-top: 20px;
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

#hardskills {
    padding-right: 30px;
}

#hardskills:after {
    content: "";
    background-color: #888;
    box-shadow: 0 0 2px 0 #888;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 10px;
    left: 99%;
    display: block;
}

.skillPic {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    box-shadow: -5px 5px 10px 2px black;
    background-color: #333;
}

.round {
    border-radius: 50%;
    box-shadow: 0 0 10px 2px black;
}

@media screen and (min-width: 701px) {
    #name h1 {
        font-size: 75px;
    }

    #name p {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px) {
    #name h1 {
      font-size: 30px;
    }

    #name p {
        font-size: 9px;
    }
    .flip-card-inner {
        width: 300px;
        height: 300px;
    }
    .flip-card-front {
        width: 300px;
        height: 300px;
    }
    .flip-card-back {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-height: 900px) {
    .flip-card-inner {
        height: 300px;
        width: 300px;
    }
    .flip-card-front {
        height: 300px;
        width: 300px;
    }
    .flip-card-back {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    #aboutSection {
        height: 2300px;
    }
    #hardskills:after {
        display: none;
    }
    #hardskills {
        padding-right: 15px;
    }
}

@media screen and (max-width: 1199px) {
    #headshot {
        height: 550px;
    }
    }
    #aboutMe {
        margin-top: 0;
    }
    #portrait_container {
        height: 200px;
        width: 100%;
    }
    #portrait {
        height: 200px;
        width: 200px;
        margin-left: auto;
    }
    .flip-card-inner {
        height: 350px;
    }
}
