@font-face {
    font-family: Roboto;
    src: url('Fonts/Roboto-Regular.ttf');
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-image: url(Background.jpg);
    background-size: cover;
    height: 100%;
}

.button {
    background-color: #4e2092;
    border-radius: 5px;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 4px 0 black;
    -moz-box-shadow: 0 0 4px 0 black;
    -webkit-box-shadow: 0 0 4px 0 black;
}

.button:hover {
    background-color: #200c3f;
    text-decoration: none;
    color: white;
}

.container {
    display: table;
}

#navdiv {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
  }
  
#mySidenav a:hover {
    left: 0;
    /* background-color: white;
    color: black; */
    box-shadow: 2px -2px 10px 0 black;
}
  
#about {
    height: 100%;
    bottom: 0;
    background-color: #222;
}
  
#skills {
    height: 75%;
    bottom: 0;
    background-color: #444;
}
  
#projects {
    bottom: 0;
    height: 50%;
    background-color: #666;
}
  
#contact {
    bottom: 0;
    height: 25%;
    background-color: #888
}

#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -60px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    padding-left: 10px;
}
  
/* Navbar styling */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 550;
}

/* Action when hovering over navbar */
#navbar a:hover {
    background-color: #999;
    color: black;
}

.active, .navbtn:hover {
    background-color: #999;
    color: black !important;
}

/* Main Page Background */
.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("images/image.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutSection {
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Roboto';
    background: url('images/graywallpaper2.jpg') no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #222;
    min-height: 850px;
    -moz-box-shadow: 0 0 10px 0 #000000;
    -webkit-box-shadow: 0 0 10px 0 #000000;
    box-shadow: inset 0 0 40px 0 #000000;
    overflow: hidden;
    height: 100%;
    width: 100%;

}

#skillSection {
    color: white;
    padding-top: 60px;
    font-family: 'Roboto';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    box-shadow: inset 0 0 2px 0 black;
    background-color: #444;
}

#projectSection {
    color: white;
    padding-top: 60px;
    font-family: 'Roboto';
    background-color: #666;
    height: 100%;
    min-height: 600px;
    box-shadow: inset 0 0 40px 0 black;
    background: url('images/graywallpaper.jpg') no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
}

#contactSection {
    color: white;
    padding-top: 70px;
    font-family: 'Roboto';
    background-color: #888;
    height: 100%;
    min-height: 900px;
    /* box-shadow: inset 0 0 40px 0 black; */
    width: auto;
}

#headshot {
    padding: 30px;
    height: 100%;
}

#portrait_container { 
    float: left;
    padding-left: 20px;
}

#portrait {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: auto;
    border-radius: 5%;
    box-shadow: 0 0 20px 0 #000;
    border: 5px black;
    border-style: solid;
}

#aboutPortrait {
    width: 300px;
    height: auto;
    max-width: 400px;
    display: block;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 5%;
    box-shadow: 0 0 20px 0 #000;
    border: 5px black;
    border-style: solid;
}

#aboutMe {
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    height: auto;
    width: 100%;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#aboutMe li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#catTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.AboutText {
    font-size: 3vw;
}

#row1 {
    width: 100%;
}

.text-block {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto;
    text-align: right;
    -moz-box-shadow: 2px -2px 10px 0 #000000;
    -webkit-box-shadow: 2px -2px 10px 0 #000000;
    box-shadow: 2px -2px 10px 0 #000000;
}

#skillBars {
    margin-top: 20px;
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    background-color: #200c3f;
}

#hardskills {
    padding-right: 30px;
}

#hardskills:after {
    content: "";
    background-color: #888;
    box-shadow: 0 0 2px 0 #888;
    position: absolute;
    width: 1px;
    height: 95%;
    top: 10px;
    left: 99%;
    display: block;
}

.skillPic {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    box-shadow: -5px 5px 10px 2px black;
    background-color: #333;
}

.round {
    border-radius: 50%;
    box-shadow: -5px 5px 15px 6px black;
}

#skillBullet {
    padding-left: 20px;
}

hr {
    display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.testimonials {
    overflow: hidden;
    position: relative;
    max-height: 300px;
}
  
.testimonials {
    background: #161d25;
}
  
.one-slide, .testimonial, .message {
    border: none !important;
    outline: none !important;
}
  
.icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 400px;
}

.content {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin: 20px;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 0 3px 1px black;
    float: left;
}

.projectPic {
    width:100%;max-width: 500px;
    border: solid black;
    border-radius: 8px;
}

.content p, h3 {
    color: black;
}

#contactHR {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    border-top: 3px solid #200c3f;
    padding-bottom: 40px;
}

* {
    box-sizing: border-box;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color:  rgb(243, 224, 255);
}

label {
    padding: 12px 12px 12px 12px;
    display: inline-block;
    color: black;
}

input[type=submit] {
    background-color: #4e2092;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #200c3f;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 85%;
    box-shadow: 0 0 5px 1px #200c3f;
    margin-bottom: 30px;
}

#linkedinBadge {
    margin-left: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: right;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color: #333;
}

@media screen and (max-width: 400px) {
    #navbar a {
        font-size: 13px;
    }
    #mySidenav a {
        left: -100px;
    }
}

@media screen and (min-width: 701px) {
    #name h1 {
        font-size: 75px;
    }

    #name p {
        font-size: 22px;
    }
}

@media screen and (max-width: 720px) {
    #aboutSection {
        height: 180%;
    }
    #name h1 {
      font-size: 30px;
    }

    #name p {
        font-size: 9px;
    }
    .flip-card-inner {
        width: 300px;
        height: 300px;
    }
    .flip-card-front {
        width: 300px;
        height: 300px;
    }
    .flip-card-back {
        width: 300px;
        height: 300px;
    }
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }
    input[type=submit] {
        width: 100%;
    }
    .button {
        font-size: 10px;
    }
    .footer {
        margin-top: -100px;
        height: 100px;
    }
    .content {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
  }

@media screen and (max-height: 900px) {
    .flip-card-inner {
        height: 300px;
        width: 300px;
    }
    .flip-card-front {
        height: 300px;
        width: 300px;
    }
    .flip-card-back {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    #hardskills:after {
        display: none;
    }
    #hardskills {
        padding-right: 15px;
    }
    hr {
        display: block;
    }
}

@media screen and (max-width: 1199px) {
    #headshot {
        height: 550px;
    }
    }
    #aboutMe {
        margin-top: 0;
    }
    #portrait_container {
        height: 200px;
        width: 100%;
    }
    #portrait {
        height: 200px;
        width: 200px;
        margin-left: auto;
    }
    .flip-card-inner {
        height: 350px;
    }
}
